$border: 30px solid #2f2f2f;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #464646;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
}

main {
    width: 1100px
}

header {
    display: flex;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color: #2f2f2f;
}

.tittle-container {
    display: flex;
    flex-direction: column;
}

.tittle-container > h1 {
    word-spacing: 1px;
    color: white;
}

.tittle-container > h2 {
    margin-left: 7ch;
    color: gray;
    font-size: 1.5ch;
}

.highlight {
    color: red;
}

.dodatki {
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    top: 15px;
    margin-right: 30px;
    color: #464646
}

nav ul > li:first-child{
    color: white;
}

.images {
    position: relative;
    width: 100%;
    height: 300%;
    margin-top: 20px;
}

.images img:first-child {
    position: absolute;
    top: 8cm;
    left: 20%;
    width: 50%;
    border: $border;
}

.images img:last-child {
    position: absolute;
    top: 17cm;
    left: 68%;
    width: 50%;
    border: $border;
}

article {
    position: relative;
    left: 25cm;
}

article h2 {
    position: absolute;
    top: 14cm;
    left: 0;
    letter-spacing: 2ch;
    font-size: 4ch;
    color: white;
    font-weight: lighter;
}

article p {
    position: absolute;
    top: 17cm;
    color: gray;
    text-wrap: wrap;
    left: 11.5cm;
    right: 11cm;
    font-size: large;
    letter-spacing: 0.2ch;
}

article h3 {
    position: absolute;
    top: 27.3cm;
    left: 11.5cm;
    color: white;
}
